[submodule "src/concrete"]
	path = src/concrete
	url = https://github.com/vlinnik/concrete.git
[submodule "pyplc"]
	path = pyplc
	url = https://github.com/vlinnik/pyplc.git
[submodule "pysca"]
	path = pysca
	url = https://github.com/vlinnik/pysca.git
