test.py
backup
__pycache__
build
dist
*.rcc
tconveyorpanelexplugin.py
persist.dat
persist.json
concrete6.dat
etalon_241218.egg-info
debian/python*
.debhelper
debian/debhelper-build-stamp
.pybuild
*.build