[Desktop Entry]
Exec=etalon-241218
Name=ETALON-241218
Type=Application
Icon=etalon-241218
Version=1.0
Terminal=false
Comment=АСУ БСУ ETALON-241218
Path=/usr/share/etalon_241218
StartupNotify=true

