#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/etalon-241218/etalon-241218
Name=ETALON-241218
Comment=АСУ БСУ ETALON-241218
Icon=etalon-241218
Path=
